*.ps
*.log
*.pdf
*.nav
*.out
*.snm
*.xml
*~
*.vrb
*.lot
*.lof
*-blx.bib
**/*.ps
**/_region_.*
**/*.log
**/*.pdf
**/*.nav
**/*.out
**/*.snm
**/*~
**/*.vrb
**/*.aux
**/*.toc
**/\#*\#
**/*.synctex.gz
**/**/auto
**/*.bbl
**/*.blg
**/*.dvi
**/*.fdb_latexmk
**/*.fls
**/*.lot